{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Назад на главную</a></li>
                        <li class="breadcrumb-item active" aria-current="page">О компании</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    {% for image_item in about.about_usimage_set.all %}
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="{{ image_item.image.url }}">
                                        <img class="d-block w-100" src="{{ image_item.image.url }}" alt="Нажмите для детального просмотра">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Информация о компании -->
                    <div class="short_overview my-5">
                        <p>{{ about.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}