{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Назад на главную</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Гарантии</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="single_product_desc">
                    <!-- Информация о компании -->
                    <div class="short_overview my-5">
                        <p>{{ guarantee.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}