{% load static %}

<!-- Секция подписки на сайт -->
<section class="newsletter-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="newsletter-text mb-100">
                    <h2>Подпишитесь на <span>новостную рассылку!</span></h2>
                    <p>Будьте в курсе свежих поступлений!</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-5">
                <div class="newsletter-form mb-100">
                    <form action="#" method="post">{% csrf_token %}
                        <input type="email" name="{{ form.email.name }}" value="{{ request.POST.email }}" class="nl-email form-control" placeholder="Введите Ваш email">
                        <input type="submit" value="Подписаться!">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Конец секции подписки -->

<!-- Нижний футер -->
<footer class="footer_area clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4">
                <div class="single_widget_area">
                    <!-- Место для логотипа -->
{#                    <div class="footer-logo mr-50">#}
{#                        <a href="{% url 'home' %}"><img src="../static/images/core-img/logo_main_3_sm.png" alt=""></a>#}
{#                    </div>#}
                    <!-- Копирайт -->
                    <p class="copywrite">Copyright &copy;<script>document.write(new Date().getFullYear());</script> Все права защищены | Сделано с <i class="fa fa-heart-o" aria-hidden="true"></i> студией <a href="http://echorise.ru/" target="_blank">Echorise</a></p>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="single_widget_area">
                    <!-- Меню футера -->
                    <div class="footer_menu">
                        <nav class="navbar navbar-expand-lg justify-content-end">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                            <div class="collapse navbar-collapse" id="footerNavContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'home' %}">Домашняя</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'about_us' %}">О компании</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'contacts' %}">Гарантии</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'guarantees' %}">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>